@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <!-- Header -->
<header id="fh5co-header" role="banner">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white menu-controls"><i></i></a>
    <div id="fh5co-logo" class="text-center"><h1 class="stencil">Take Back the Court</h1></div>
</header>
<!-- Header -->

<!-- Mobile Header -->
<header class="mobile-header" role="banner">
    <a href="#" class="menu-controls fh5co-nav-toggle js-fh5co-nav-toggle"><i></i></a>
    <div class="text-center"><h1 class="logo stencil-small">Take Back the Court</h1></div>
</header>
<!-- Mobile Header-->

<div class="container">
    <div class="row" style="min-height: 250px">
        <div class="scotus col-xs-12"></div>
    </div>
    <!-- Main -->
    <main role="main">
        <!-- Issue Areas -->
        <div id="fh5co-crew">
            <div class="container">
                <div class="fh5co-section-heading">
                    <h1 class="stencil-med">Issues Before the Court</h1>
                </div>

                <div class="image-row">
                    <div class="column">
                        @for(var i = 0; i < 3; i++)
                        {
                            var url = IndexModel.GetImages()[i].Item1;
                            var name = IndexModel.GetImages()[i].Item2;
                            var path = IndexModel.GetImages()[i].Item3;
                            @:<figure><a href="@Url.Page("./issues" + url)"><img class="img-responsive" src=@path alt=@name></a></figure>
                        }
                    </div>
                    <div class="column">
                        @for(var i = 3; i < 6; i++)
                        {
                            var url = IndexModel.GetImages()[i].Item1;
                            var name = IndexModel.GetImages()[i].Item2;
                            var path = IndexModel.GetImages()[i].Item3;
                            @:<figure><a href="@Url.Page("./issues" + url)"><img class="img-responsive" src=@path alt=@name></a></figure>   
                        }
                    </div>
                    <div class="column">
                        @for(var i = 6; i < 9; i++)
                        {
                            var url = IndexModel.GetImages()[i].Item1;
                            var name = IndexModel.GetImages()[i].Item2;
                            var path = IndexModel.GetImages()[i].Item3;
                            @:<figure><a href="@Url.Page("./issues" + url)"><img class="img-responsive" src=@path alt=@name></a></figure>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Issue Areas -->
        <!-- Resources -->
        <div class="container-fluid">
            <div class="fh5co-section-heading">
                <h3 class="stencil-med">Learn more, get involved, and make change.</h3>
            </div>
            <div class="row">
                @foreach(var r in IndexModel.GetResources())
                {
                    var url = r.Item1;
                    var title = r.Item2;
                    var text = r.Item3;

                    @:<div class="col-md-3 col-sm-6">
                        @:<article class="fh5co-post-entry">
                            @:<h3 class="fh5co-blog-title fh5co-heading-with-border">
                                @:<a href="@Url.Page("./resources" + url)">@title</a> 
                                @:<span class="fh5co-border fh5co-border-gray"></span>
                            @:</h3>
                            @:<p>@text</p>
                        @:</article>
                    @:</div>
                }
            </div>
        </div>
        <!-- Resources -->
    </main>
    <!-- Main -->
</div>
<!-- Footer -->
<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h2 class="fh5co-footer-title">Get Involved</h2>
                <ul class="fh5co-footer-links">
                    <li><a href="#">Check your voter registration</a></li>
                    <li><a href="#">Call your respresentatives</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2 class="fh5co-footer-title">Connect</h2>
                <ul class="fh5co-footer-links">
                    <li><a href="#" class="fh5co-link"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="#" class="fh5co-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                    <li><a href="#" class="fh5co-link"><i class="fa fa-github"></i>Github</a></li>
                    <li><a href="#" class="fh5co-link"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
                    <li><a href="#" class="fh5co-link"><i class="fa fa-google"></i>Google Plus</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
<!-- Go To Top -->
<a href="#" class="fh5co-gotop"><i class="ti-angle-up"></i></a>
